<header class="custom-head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h2>Système de contrôle pour AgileX limo</h2>
</header>

    <div class="container">
      <div class="left-half">
            <div class="btn-container"> 
              <mat-slide-toggle [(ngModel)]="simulationStatus" class="custom-slide-toggle">Simulation</mat-slide-toggle>

              <app-robot *ngFor="let robot of robots" [robot]="robot" [simulation]="simulationStatus" class="text-with-buttons"></app-robot>
              <button mat-raised-button class="btn" (click)="handleSimulation()" *ngIf="simulationStatus">Lancer la simulation</button>
              <button mat-raised-button class="btn" routerLink="/mission-history">Historique des missions</button>
            </div>
      </div>

      <div class="right-half">
        <div class="image-container">
          <img src="\assets\limo-1.png" alt="Your Image">
        </div>
      </div>
    </div>

    <footer class="footer">
          <h4 class="team-name">Équipe 104</h4>
          <p>
            <span>Thibault Demagny</span>, <span>Aymane Chalh</span>, <span>Abderrahim Zebiri</span>,
            <span>Anass El Kettani</span>, <span>Lina Khial</span>, <span>Nada Alami-Chentoufi</span>
          </p>
    </footer>