<?xml version="1.0"?>
<launch>
    <!-- Define arguments -->
    <arg name="robot_namespace"/>
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <!-- Set the robot_description parameter based on the provided robot_namespace argument -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
        robot_namespace:=$(arg robot_namespace)" />

    <!-- Spawn the robot model with the provided name, initial pose, and robot_namespace -->
    <node name="limo_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -urdf -unpause -param robot_description -model $(arg robot_name)"
        respawn="false" output="screen" />

    <!-- Load the controller configuration with the specified robot_namespace -->
    <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load" ns="$(arg robot_namespace)"/>

    <!-- Load and start the controllers with the specified robot_namespace -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="limo_state_controller" ns="$(arg robot_namespace)"/>

    <!-- Publish the robot's joint states -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg robot_namespace)" />
</launch>

        
    

        